.container{
    background-color: rgb(23,162,183);
}

.nav-daddy{
    display: flex;
    flex-direction: column;
}

.active{
    text-decoration: none;
    color: white;
}

.inactive{
    text-decoration: none;
    color: white;
}