.container{
    background-color: rgb(23,162,183);
}

.nav-daddy{
    display: flex;
    flex-direction: column;
}

.active{
    text-decoration: none;
    color:rgba(165, 42, 42, 0.76);
}

.inactive{
    text-decoration: none;
    color:brown;
}